.adminImgContainer {
  width: 150px;
  height: 150px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
.adminImgContainer.active {
  border: 2px solid rgb(114, 114, 175) ;
}
.adminImgContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.adminImgContainer.selected{
  border: 2px solid blue;
}