.AboutMe_Page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.AboutMe_Page > header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  color: var(--second-color);
  background-color: var(--main-color);
  padding: 10px 0;
}

.AboutMePage_one,
.AboutMePage_three,
.AboutMePage_two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  padding: 20px 40px;
  gap: 40px;
  height: 540px;
  width: 100%;
}
.AboutMePage_two {
  justify-content: center;
}

.AboutMePage_one > img,
.AboutMePage_three > img {
  height: 100%;
  width: auto;
}
.AboutMePage_two_imgone {
  height: 90%;
  width: 200px;
  object-fit: cover;
}

.AboutMePage_two_imgtwo {
  height: 90%;
  width: auto;
  object-fit: cover;
}

.AboutMePage_one > div,
.AboutMePage_three > div,
.AboutMePage_two > div {
  padding: 20px;
  max-width: 700px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10%;
}
.AboutMePage_two > div {
}

.AboutMePage_one > div > h1,
.AboutMePage_three > div > h1,
.AboutMePage_two > div > h1 {
  font-weight: 500;
  font-size: 3rem;
}
.AboutMePage_one > div > p,
.AboutMePage_three > div > p,
.AboutMePage_two > div > p {
  font-weight: 400;
}

@media only screen and (max-width: 1300px) {
  .AboutMePage_two_imgone {
    height: 90%;
    width: 200px;
    object-fit: cover;
  }

  .AboutMePage_two_imgtwo {
    height: 90%;
    width: 400px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1100px) {
    .AboutMePage_two_imgone {
        display: none;
      }
    
      .AboutMePage_two_imgtwo {
        height: 70%;
        width: auto;
      }
}

@media only screen and (max-width: 900px) {
  .AboutMePage_one,
  .AboutMePage_three,
  .AboutMePage_two {
    flex-direction: column;
    border: 1px solid black;
    height: max-content;
    padding: 20px 20px;
  }
  .AboutMePage_one > img,
  .AboutMePage_three > img {
  }

  .AboutMePage_two_imgtwo {
    height: 70%;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .AboutMe_Page > header {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .AboutMe_Page > header {
    font-size: 2.5rem;
  }
  .AboutMePage_one,
  .AboutMePage_three,
  .AboutMePage_two {
    padding: 20px 10px;
  }

  .AboutMePage_one > img,
  .AboutMePage_three > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
