.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe__intorduce{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.aboutMe__intorduce > img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.aboutMe__intorduce__text > h1{

}