.adminPortfolioAdd {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--second-color);
  border-radius: var(--admin-borderRadius);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  border: 3px solid red;
  gap: 10px;
}
.adminPortfolioAdd__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.adminPortfolioAdd__img {
  height: 100%;
  max-height: 500px;
  width: auto;
  min-width: 200px;
  max-width: 50%;
  border: 3px solid blue;
}
.adminPortfolioAdd__img img {
  object-fit: contain;
  height: 100%;
  width: auto;
}
.adminPortfolioAdd__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.adminPortfolioAdd__content div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}
.adminPortfolioAdd__upload {
  display: flex;
  align-items: center;
}

.adminPortfolioAdd__content div button {
  color: var(--main-color);
  cursor: pointer;
  border-color: var(--main-color);
  border-radius: 5px;
}
