.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border-radius: 2px;
  /* border: 1px solid black; */
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.productCard__image {
  width: 100%;
  height: 80%;
  /* border: 1px solid blue; */
}
.productCard__image > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
.productCard__description {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: auto;
  flex-direction: row;
  padding: 5px;
  /* border: 1px solid red; */
}
.productCard__title {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  word-break: break-all;
}
.productCard__title h5 {
  /* border: 1px solid red; */
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

.productCard__price {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productCard__price p:first-child {
  font-size: 1.3rem;
  height: 70%;
  margin-top: 5px;
}
.productCard__price p:last-child {
  font-size: 2rem;
  height: 70%;
}

.productCard:hover .productCard__QuickView {
  visibility: visible;
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.8s; /* don't forget to set a duration! */
}

/* Swipper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--second-color);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--main-color) !important;
  opacity: 0.5;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 845px) {
  .productCard {
    width: 300px;
    height: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .productCard {
    width: 250px;
    height: 450px;
  }
}

@media only screen and (max-width: 650px) {
  .productCard {
    width: 200px;
    height: 350px;
  }
  .productCard__title h5 {
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
  }
}

@media only screen and (max-width: 550px) {
  .productCard {
    width: 170px;
    height: 350px;
  }
}
@media only screen and (max-width: 475px) {
  .productCard {
    width: 160px;
    height: 300px;
  }
  .productCard__title h5 {
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
  }

  .productCard__price p:first-child {
    font-size: 1rem;
    height: 70%;
    margin-top: 5px;
  }
  .productCard__price p:last-child {
    font-size: 1.5rem;
    height: 70%;
  }
}
