.App{
  max-width: 1800px;
  margin: 0 auto;
  background-color: #FDF2DA;
  color: #FB8712;
}
:root{
  --main-color:#FB8712;
  --second-color:#FDF2DA;
}



@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 480px) {
}
