.App {
  max-width: 1800px;
  margin: 0 auto;
  background-color: var(--second-color);
  color: #fb8712;
}
:root {
  --main-color: #fb8712;
  --second-color: #fdf2da;
  /* --second-color: rgb(29, 27, 27); */
  --header-height: 80px;
  /* SIDE-BAR */
  --sidebarOpen-width: 250px;
  --sidebarClose-width: 60px;
  --sidebar-left-margin: 5px;
  /* Admin Page */
  --admin-borderRadius: 10px;
  --admin-headerHeight: 35px;
  --header-fontSize:1.3rem
}



@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 480px) {
}
